.addressCardBody {
  background-color: #ffffff;
  opacity: 1;
  background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #ffffff 12px), repeating-linear-gradient(#f4f0f055, #f4f0f0);
}
